{% extends "base.html" %}
{% block title %}{{ 'Editar' if producto else 'Nuevo' }} producto{% endblock %}
{% block content %}
<h1>{{ 'Editar' if producto else 'Nuevo' }} producto</h1>

<form method="post" enctype="multipart/form-data">
   <p><label>Nombre</label>
      <input name="name" value="{{ producto['name'] if producto else '' }}"></p>
   <p><label>Tipo</label>
      <input name="type" value="{{ producto['type'] if producto else '' }}"></p>
   <p><label>Costo</label>
      <input name="cost" value="{{ producto['cost'] if producto else '' }}"></p>
   <p><label>Precio</label>
      <input name="price" value="{{ producto['price'] if producto else '' }}"></p>
   <p><label>Foto</label></p>
   {% if producto and producto["image"] %}
   <p><img src="/static/imgs/productos/{{ producto['image'] }}" width="80"></p>
   {% endif %}
   <p><input type="file" name="image" accept="image/*"></p>
   <button type="submit">Guardar</button>
</form>
{% endblock %}